[submodule "arch/ARM/CMSIS_6"]
	path = arch/ARM/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6.git
[submodule "kernel/FreeRTOS-Kernel"]
	path = kernel/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
